
<div class = "row">
  <div class="col-sm-10 col-sm-offset-1">

<h1>Listing tasks</h1>

<table class="table table-bordered table-responsive">
  <tr>
    <th>name</th>
    <th>No. of time records</th>
    <th>Hours spent</th>
    <th>Minutes spent</th>
    <th>No. of notes</th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= link_to task.name, task %></td>
    <td><%= task.time_records.count %></td>
    <td><%= task.hours %></td>
    <td><%= task.minutes %></td>
    <td><%= task.notes.count %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'Start time record', new_time_record_path %>
</div>
</div>