
<div class="row">
	<div class="col-sm-10 col-sm-offset-1">

<h2> Task details, time records and notes</h2>

<h3>
  <b>name:</b>
  <%= @task.name %>
</h3>


<p id="notice"><%= notice %></p>


		<h4> Time Records </h4>
			<table class="table table-bordered table-responsive">
	  <tr>
	    <th>State</th>
	    <th>Hours</th>
	    <th>Minutes</th>
	    <th>Recorded on</th>
	  </tr>



	<% @task.time_records.each do |time_record| %>
	<tr>
		<td><%= time_record.state %></td>
		<td><%= time_record.hours %></td>
		<td><%= time_record.minutes %></td>
		<td><%= time_record.updated_at.strftime("%d/%m/%y") %></td>
	</tr>
	<% end %>
	</table>


	<h4> Task Notes </h4>
			<table class="table table-bordered table-responsive">

	<col width="80%">
  	<col width="20%">
	  <tr>
	    <th >Content</th>
	    <th>Created at</th>
	  </tr>



	<% @task.notes.each do |note| %>
	<tr>
		<td ><%= note.content %></td>
		<td style="width: 20%;"><%=	note.created_at.strftime("on %d/%m/%y")%></td>
	</tr>
	<% end %>
	</table>





<%= link_to 'Add more time', new_time_record_path %> |
<%= link_to 'To tasks list', tasks_path %>

	




	</div>
</div>
