
<div class="row">
	<div class="col-sm-12">
		<h2 id="time_record_header">Start something new</h2>
	</div>
</div>



  <div class="row">
   
      <div class="col-sm-4">

        <%= render "clock" %>

        <%= render "new_task" %>

        <%= render "time_record_form" %>

        <%= render "notes_form" %>
      </div>

      <div class="col-sm-4">

      <%= render "groups/groups" %>


      <%= render "tasks/tasks" %>

    <h3 id="partial_tasks_header" style="display:none;">Tasks</h3>
    <div id="tasks">

    </div>



      </div>

  </div>







