

<div class="row">
	<div class="col-sm-12">
		<h2 id="time_record_header">Start something new</h2>
	</div>
</div>



  <div class="row">
   
      <div class="col-sm-4">

        <%= render "clock" %>

        <%= render "new_task" %>

        <%= render "time_record_form" %>

        <%= render "notes_form" %>
      </div>

      <div class="col-sm-4">

        <% if @groups %>
        <div id="groups">
          <h3>Groups <span class="badge"><sm><%=@groups.count %></sm></span></h3>
            <% @groups.each do |group| %>
            <div class="well well-sm group clickable-div" value="<%=group.id%>">
              <%=group.name %><span class="badge pull-right"><sm>Tasks : <%=group.tasks.count %></sm></span>
            </div>
     
          <% end %>
          </div>
        <% end %>


        <% if @tasks %>
        <div id="tasks">
          <h3>Tasks</h3>
          <% @tasks.each do |task| %>
          <div class="well well-sm task clickable-div" value="<%=task.id %>">
            <%=task.name %><span class="badge pull-right clickable-div"><sm>Time : <%=task.hours %> hrs  :  <%=task.minutes %> mins</sm></span></div>
          <% end %>
        </div>
        <% end %>




      </div>

  </div>







