<% if !@time_record.id.nil? %>

  <% if !@task.id.nil?  && !@time_record.id.nil? %>

    <p> Timing for task: <%= @task.name %></p>


    <% elsif !@time_record.id.nil? && @task.id.nil? %>

    <h3 id="task_prompt">Give your new task a name!</h3>

      <%= form_for @task, :remote=> true, url: {action: "create", controller: "tasks"} do |f| %>


      <%= hidden_field_tag "time_record", @time_record.id %>
       <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>
      <div class="actions">
        <%= f.submit "New task",id:"new_task_button", class: "btn btn-success" %>
      </div>

    <% end %>

  <% end %>
<% end %>