<% unless @time_record.id.nil? %>
<%= form_for @note, url: {action: "create", controller: "notes"}, :remote=> true do |g| %>

	<%= hidden_field_tag "note_task_id" %>

  <div class="field">
    <%= g.label :content, "New note" %><br />
    <%= g.text_area :content %>
  </div>
  <div class="actions">
    <%= g.submit "Add note" %>
  </div>
<% end %>

<% end %>

