


<%= form_for @time_record do |f| %>

    <%=hidden_field_tag "operation", @operation %>
    <%=hidden_field_tag "status", @status %>

  <% if !@time_record.id.nil? && @tasks.count > 0 %>
    <% if @task.id.nil? %>
      <div class="field select_a_task">
        <br/>
        <%= label_tag "Select a previous task" %><br />
        <%= select_tag "Task", options_from_collection_for_select(@tasks, "id", "name"), :include_blank => "Select task" %>
      </div>
    <% end %>
  <% end %>
<!-- 
    <div id="bigredbutton" class="clickable-div">Time Please!</div> -->


    <div class="actions">

      <% if @operation == "create" %>
        <% buttoncolor = "red" %>
        <% buttontext = "Get Started!" %>
      <% else %>
        <% buttoncolor = "blue "%>
        <% buttontext = "Press to Finish" %>
      <% end %>


      <%= f.submit buttontext, class: "clickable-div #{buttoncolor}", id: "bigredbutton" %>
    </div>
  <% end %>